:root {
    --background: #282a36;
    --lightBackground: #44475a;
    --foreground: #282a36;
    --whiteForeground: #f8f8f2;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    height: 100%;
}

body {
    font-family: sans-serif;
    background: var(--background, #282a36);
    color: var(--foreground, #f8f8f2);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.box {
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
}
.box:hover {
    cursor: pointer;
}
.box p {
    font-size: 10em;
    align-self: center;
}

#box1 {background: var(--cyan)}
#box2 {background: var(--green)}
#box3 {background: var(--orange)}
#box4 {background: var(--pink)}
#box5 {background: var(--purple)}
#box6 {background: var(--red)}
#box7 {background: var(--yellow)}
#box8 {background: var(--cyan)}
#box9 {background: var(--pink)}

aside {
    width: 20%;
    grid-area: footer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--lightBackground);
    color: var(--whiteForeground);
    padding: 1em;
}
aside:hover {cursor: default;}
aside p {
    font-size: 1.2em;
}

#score {
    display: grid;
    grid-template-columns: auto auto;
}

#buttons {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#buttons button {
    width: 7.5em;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    padding: .4em;
    background: var(--background);
    border: 1px solid var(--background);
    border-radius: 10%;
    color: var(--whiteForeground);
    margin: 1em auto 0em auto;
}
#play-again {
    visibility: hidden;
}

#board {
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "box1 box1 box1"
        "box2 box2 box2"
        "box3 box3 box3"
        "footer footer footer";
    grid-gap: .5em .5em
}